<HR>
<% @list_of_photos.each do |photo| %>
  <div class="row">
    <div class="col-md-offset-3 col-md-6 well">
      <div class="thumbnail">
        <img alt="Pm" class="img-responsive" src="<%= photo.source %>">
        <div class="caption">
          <p class="lead"><%= photo.caption %></p>
          <p>
            <a class="btn btn-primary" href="/photos/<%= photo.id %>">
              <i class="fa fa-search-plus"></i>
            </a>
            <a class="btn btn-success" href="#">
              <i class="fa fa-heart-o"></i>
            </a>
            <a class="btn btn-warning" href="/photos/<%= photo.id %>/edit">
              <i class="fa fa-edit"></i>
            </a>
            <a class="btn btn-danger" href="/delete_photo/<%= photo.id %>">
              <i class="fa fa-trash-o"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>

